/*****************************************************************************
  Common Elements
 *****************************************************************************/

:root {
    --bg-color: #434241;
}

@font-face {
    font-family: 'magneto';
    src: url('../fonts/MAGNETOB.TTF') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bg-color);
    background-image: url('../img/bgd-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Palatino", serif;
}

main {
    margin-top: 200px;
    text-align: center;
    width: 100vw;
}

/*****************************************************************************
  Header & Navigation
 *****************************************************************************/

header nav {
    background-color: rgba(24, 23, 23, 0.7); /* #181d1f or #181717 */
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0;
    border: none;
}


header nav .logo {
    transform: translateY(50px);
}

header nav .logo img {
    width: 180px;
    height: auto;
}


@media (max-width: 600px) {
    header nav {
        background-color: rgba(24, 23, 23, 0.7);
    }

    header nav .logo img {
        width: 130px;
        height: auto;
    }

    header nav .logo {
        transform: translateY(20px);
    }
}


/* Footer *******************************************************************/

footer {
    background-color: rgba(24, 23, 23, 0.7); /* White background */
    text-align: center;        /* Center the content */
    padding: 3rem 0;           /* Optional padding for spacing */
    margin-top: 100px;
}

footer a {
    display: inline-block;
}

footer img {
    width: 50px;  /* Adjust the size as needed */
    height: auto;
}

footer p {
    color: #fff;
}


/* Button *******************************************************************/

.submit-button{
    font-family: "Palatino", serif;
    text-decoration: none;
    margin-top: 3rem;
    background-color: #007bff;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    height: 2.5em;
    padding: 0 5em;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.ticket-selection button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: -20rem;
}

button:hover {
    background-color: #0056b3;
}

/* Style for the ticket count display */
.ticket-selection .ticket-count {
    display: inline-block;
    width: 40px;
    font-size: 1.2rem;
    text-align: center;
    line-height: 40px; /* Vertically center the text */
}

#home-button{
    font-family: "Palatino", serif;
    text-decoration: none;
    margin-top: 3rem;
    background-color: #007bff;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    font-size: 1.2em;
    transition: all 0.2s ease;
}

#home-button:hover{
    background-color: #0056b3;
}

/*****************************************************************************
  Event
 *****************************************************************************/

.event {
    display: flex;
}

#event {
    margin-bottom: 10rem;
}

.event_container {
    background-color: #171918;
    max-width: 600px;
    width: 100%;
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: 0 7px 15px #ccc;
    transition: transform 0.5s;
}

.event_container img {
    max-width: 600px;
    max-height: 800px;
    height: auto;
    margin: 0 0 -6px 0;
}

.event_container:hover {
    transform: scale(1.1);
}

.event_container a {
    text-decoration: none;
}


@media (max-width: 600px)  {
    .event_container img {
        max-width: 360px;
        max-height: 1000px;
    }

    .event_container {
        max-width:360px
    }
}

/*****************************************************************************
  Ticket
 *****************************************************************************/

.checkout-form > div {
    margin: 1rem 0;
    text-align: right;
}

/* this is a workaround for a Chrome bug that disallows display:grid on fieldset elements */
.checkout-form div.grid {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 0.5em 1em;
    align-items: center;
}

.checkout-form fieldset {
    border: none;
    margin-top: 2rem;
    padding: 0;
}

.checkout-form fieldset legend {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.5rem;
}

.checkout-form {
    color: #cccccc;
    width: 50vw;
    margin: 100px auto 0 auto;
}

.checkout-form input {
    -moz-appearance: textfield;
    font-family: inherit;
    font-size: 1em;
    height: 1.25rem;
    line-height: 1.25rem;
    padding: 3px;
    text-indent: 1.25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#event_container:hover {
    transform: none !important ;
}

.event-desc{
    font-size: 1.5em;
    color: #cccccc;
    margin-top: 2rem;
    font-family: 'magneto', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.subtotal{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: -2.5rem;
    margin-top: -2rem;
}

@media (max-width: 600px) {
    .checkout-form {
        width: 100%;
        margin-top: 50px;
    }

    .checkout-form label {
        margin-top: 0.25em;
    }

    .checkout-form fieldset legend {
        margin-left: 5px;
    }

    .checkout-form input {
        margin: 0 80px 0 80px;
    }

    .checkout-form div.grid {
        grid-template-columns: 1fr;
    }

    .decrease{
        margin-top: 30px;
    }

    .subtotal{
        margin-bottom: 30px;
    }

    #contact-info{
        margin-top: 1rem;
    }
}

/*****************************************************************************
  Cart
 *****************************************************************************/

.centered-content {
    color: #cccccc;
    font-family: 'magneto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-content h1 {
    text-align: center;
    width: auto;
}

#footer {
    margin-top: -10rem;
}



